.breadcrumbs {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #77828F;
    @media (max-width: 820px) {
        font-size: 12px;
    }
}

.breadcrumbs__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.breadcrumbs__item::after {
    margin-left: 4px;
    margin-right: 4px;
    content: "/";
    display: block;
}

.breadcrumbs__item:last-of-type::after {
    content: none;
}