.catalog-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 220px);
  grid-gap: 24px 22px;
}

@media (max-width: 992px) {
  .catalog-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .catalog-main {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
}

.catalog-item {
  background: var(--bg-gray);
  padding: 46px 26px;
  border-radius: 20px;
  transition: .3s;
  position: relative;
}

.catalog-item:hover {
  background: var(--c-yellow);
}

.catalog-item:first-child, .catalog-item:last-child {
  grid-row: 3/1;
}

.catalog-item:first-child .catalog-item__title, .catalog-item:last-child .catalog-item__title {
  width: 50%;
}

.catalog-item:nth-of-type(2) .catalog-item__title {
  width: 50%;
}

.catalog-item:nth-of-type(3) {
  grid-row: 2/2;
}

@media (max-width: 992px) {
  .catalog-item:first-child, .catalog-item:last-child {
    grid-row: auto;
    grid-column: 4/1;
  }
  .catalog-item:nth-of-type(2) {
    grid-column: 2/1;
  }
  .catalog-item:nth-of-type(3) {
    grid-row: auto;
    grid-column: 4/2;
  }
}

@media (max-width: 767px) {
  .catalog-item {
    padding: 20px;
  }
  .catalog-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .catalog-item:nth-of-type(2) .catalog-item__title, .catalog-item:first-child .catalog-item__title {
    width: 100%;
  }
  .catalog-item .catalog-item__title {
    font-size: 18px;
    line-height: 1.4;
    width: 100%;
  }
  .catalog-item .catalog-item__link {
    font-size: 14px;
  }
}

.catalog-item__picture {
  position: absolute;
  right: 0;
  width: max-content;
  width: max-content;
  height: 93%;
  bottom: 0;
  margin: auto;
}

@media (max-width: 1400px) {
  .catalog-item__picture {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .catalog-item__picture {
    width: 120px;
  }
}

@media (max-width: 600px) {
  .catalog-item__picture {
    width: auto;
    height: 100px;
    object-fit: cover;
  }
}

.catalog-item__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 14px;
}

.catalog-item__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
