footer {
  background: var(--c-black);
  font-family: 'Roboto';
  color: #737373;
  margin-top: 87px;
  position: relative;
  overflow: hidden;
}

footer li {
  margin-bottom: 0;
}

footer li a {
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 16px;
  text-decoration-thickness: 1px;
}

@media (max-width: 767px) {
  footer {
    margin-top: 50px;
  }
}

.footer-back {
  position: absolute;
  top: 0;
  height: max-content;
  width: max-content;
  left: -15%;
  right: 0;
  margin: auto;
}

.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-top__menu {
  padding: 93px 0 40px;
}

@media (max-width: 500px) {
  .footer-top__menu {
    padding: 55px 0 20px;
  }
}

.footer-top__menu--list {
  display: flex;
  justify-content: space-between;
  margin: 0 100px 0 30px;
}

.footer-top__menu--list li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.footer-top__menu--list li a:hover {
  color: var(--c-yellow);
}

@media (max-width: 767px) {
  .footer-top__menu--list {
    margin: auto;
    flex-wrap: wrap;
  }
  .footer-top__menu--list li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .footer-top__menu--list li a {
    font-size: 14px;
  }
}

.footer-bottom {
  padding-top: 64px;
}

.footer-bottom ul {
  line-height: 200%;
}

@media (max-width: 500px) {
  .footer-bottom {
    padding-top: 30px;
  }
}

.footer-bottom__content {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 60px;
}

@media (max-width: 1500px) {
  .footer-bottom__content {
    grid-gap: 30px;
  }
}

@media (max-width: 1350px) {
  .footer-bottom__content {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-bottom__content .footer-bottom__col:first-child {
    width: 100%;
  }
}

.footer-bottom__head {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.footer-bottom__head > div {
  display: flex;
  align-items: flex-start;
}

.footer-bottom__head > .footer-bottom__head--link {
  margin-left: auto;
}

a.footer-bottom__head--link {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.footer-bottom__head--title {
  color: #fff;
  margin-right: 22px;
  width: 40%;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-bottom__list--items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0 30px;
}

@media (max-width: 1500px) {
  .footer-bottom__list--items {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1350px) {
  .footer-bottom__list--items {
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1350px) {
  .footer-bottom__list--items {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1200px) {
  .footer-bottom__list--items {
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }
}

.footer-bottom__col:nth-of-type(2) {
  margin-left: 40px;
}

.footer-bottom__col:nth-of-type(3) {
  margin-right: -80px;
  margin-left: 40px;
}

@media (max-width: 1500px) {
  .footer-bottom__col:nth-of-type(2) {
    margin-left: 0;
  }
  .footer-bottom__col:nth-of-type(3) {
    margin-right: 0;
    margin-left: 0;
  }
}

.footer-bottom__col--header {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 41px;
  position: relative;
}

.footer-bottom__col--header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 42px;
  background: var(--c-yellow);
}

.footer-bottom__col--line {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Manrope';
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.footer-bottom__col--line svg {
  width: 24px;
  height: 24px;
  background: var(--c-yellow);
  border-radius: 50%;
  padding: 7px;
  margin-right: 12px;
}

.footer-bottom__col--line:not(:last-child) {
  margin-bottom: 22px;
}

.footer-adress svg {
  padding: 6px;
}

.footer-adress p {
  width: 65%;
}

.footer-time svg {
  padding: 6px;
}

.footer-bottom__col--marshr {
  margin-top: 15px;
  width: 250px;
  background: var(--c-yellow);
  height: 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  text-transform: uppercase;
}

.footer-bottom__avito {
  background: #FFFFFF;
  border-radius: 20px;
  width: 165px;
  height: 203px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  margin-bottom: 26px;
}

.footer-bottom__avito--picture {
  width: max-content;
  height: max-content;
}

.footer-bottom__avito--title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 18px;
}

.footer-bottom__avito--numb {
  background: #55BC6B;
  border-radius: 10px;
  width: 83px;
  height: 50px;
  font-weight: 400;
  font-size: 43px;
  line-height: 50px;
  color: #fff;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.footer-bottom__avito--recommend {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 5px;
}

.footer-bottom__avito--icon {
  width: 63px;
  height: 13px;
}

.footer-bottom__ya {
  width: max-content;
  height: max-content;
}

.footer-bottom__pdp {
  display: flex;
  margin: 76px 0 38px;
}

@media (max-width: 767px) {
  .footer-bottom__pdp {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-bottom__pdp--copyright {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .footer-bottom__pdp--copyright {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-bottom__pdp--copyright .footer-bottom__pdp--info--link:last-child {
    margin-left: 0;
  }
}

.footer-bottom__pdp--info--link {
  width: max-content;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.footer-bottom__pdp--info--link:last-child {
  margin-left: 30px;
}

.footer-bottom__pdp--text {
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #737373;
  opacity: 0.5;
  margin: 0 25px;
}

@media (max-width: 767px) {
  .footer-bottom__pdp--text {
    margin: 20px 0;
  }
}

.footer-bottom__pdp--info--policy {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 20px;
}

.footer-bottom__pdp--info {
  margin-right: 25px;
}

.footer-bottom__pdp--info p {
  font-size: 14px;
  line-height: 16px;
  color: #F6F6F6;
  width: max-content;
}

.footer-bottom__pdp--info a {
  color: #fff;
}

.footer-bottom__pdp--info a span {
  color: #FFBA00;
}
