header {
    overflow: hidden;
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}

.header_logo {
    img {
        width: 219px;
        height: 219px;
        @media (max-width: 992px) {
            display: none;
        }
    }
}

.header_catalog {
    .header_catalog__mobile-elem {
        display: none;
        @media (max-width: 992px) {
            display: flex;
            span:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.header_logo--mobile-logo {
    display: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    @media (max-width: 992px) {
        display: block;
    }
}

.header-menu-mobile {
    display: none;
}

.header_left {
    display: flex;
    align-items: center;
    margin-right: 7px;
    @media (max-width: 992px) {
        width: 100%;
        justify-content: space-between;
        margin-right: 0;
        .header-menu-mobile svg {
            width: 35px;
            height: 50px;
        }
        .header_catalog__text {
            display: none;
        }
        .header-menu-mobile {
            display: block;
        }
        .header_logo img {
            width: 140px;
            height: 140px;
        }
    }
    @media (max-width:600px) {
        .header_logo img {
            width: 100px;
            height: 100px;
            margin-left: 0;
        }
    }
}

.header_catalog__text {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Manrope';
    margin-bottom: 30px;
}

.header_catalog__menu {
    border: 4px solid #FFD81B;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &._active {
        position: relative;
        //border: 4px solid #000000;
        justify-content: center;
        z-index: 9999;
        svg {
            display: none;
        }
        &:after {
            content: '';
            --size-padding-menu: 24px;
            position: absolute;
            left: calc((var(--size-padding-menu) / 2) * -1);
            top: calc((var(--size-padding-menu) / 2) * -1);
            width: calc(100% + var(--size-padding-menu));
            height: calc(100% + var(--size-padding-menu));
            background: #FFD54F;
            border-radius: 10px 10px 0px 0px;
            z-index: -1;
        }
        .header_catalog__menu--title {
            border: 5px solid;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }
    }
    @media (max-width:992px) {
        display: none;
    }
    // @media (max-width: 767px) {
    //     width: max-content;
    //     padding: 0 11px;
    //     height: 44px;
    //     .header_catalog__menu--icon {
    //         margin-left: 0;
    //         margin-right: 10px;
    //         width: 14px;
    //         height: 14px;
    //     }
    //     .header_catalog__menu--title {
    //         font-size: 14px;
    //     }
    // }
}

.header_catalog__menu--icon {
    width: 26px;
    height: 20px;
    margin-right: 30px;
    margin-left: 15px;
}

.header_catalog__menu--title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header_right {
    .poppa__closer {
        display: none;
    }
    @media (max-width: 992px) {
        .poppa__closer {
            display: block;
        }
        box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px,
        rgb(0 0 0 / 12%) 0px -12px 30px,
        rgb(0 0 0 / 12%) 0px 4px 6px,
        rgb(0 0 0 / 17%) 0px 12px 13px,
        rgb(0 0 0 / 9%) 0px -3px 5px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 999;
        padding-top: 61px;
        padding-left: 50px;
        padding-right: 50px;
        width: 40%;
        transition: opacity .3s,
        transform .5s;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        &:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 0;
            background: #0000008a;
            width: 140%;
            height: 100%;
            opacity: 0;
            transition: opacity .4s;
            transform: scale(0);
        }
        &._active {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            &:after {
                transition-delay: .3s;
                opacity: 1;
                transform: scale(1);
            }
        }
        .header_right--overflow {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
        }
        .header_right--container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
        .header_right__top {
            padding-left: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background: transparent;
        }
        .header_right__col {
            height: 150px;
            margin: 0;
            align-items: center;
            justify-content: center;
            &[data-col="prodazh"] {
                background: var(--c-yellow-3);
            }
        }
        .header_right__sign {
            width: 100%;
        }
    }
    @media (max-width: 767px) {
        width: 90%;
        padding: 20px;
        .poppa__closer {
            top: 20px;
            right: 20px;
            background: var(--c-yellow);
        }
    }
}

.header_right__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background: #F1F1F5;
    border-radius: 0px 0px 0px 15px;
    padding-left: 39px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        background: inherit;
        width: 100%;
        height: 100%;
        right: -100%;
    }
}

.header_right__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    &[data-col="street"] {
        .header_right__col--info {
            font-size: 15px;
        }
    }
    @media (max-width: 767px) {
        &[data-col="street"] {
            .header_right__col--info {
                font-size: 13px;
            }
        }
    }
}

.header_right__col--scheme {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-style: italic;
    color: var(--c-gray-2);
    &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='68' height='2' viewBox='0 0 68 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.17871 0.249023L2.99414 1.28809H0.246094L0.430664 0.249023H3.17871ZM6.55566 0.249023L6.37109 1.28809H3.62305L3.80762 0.249023H6.55566ZM9.93262 0.249023L9.74805 1.28809H7L7.18457 0.249023H9.93262ZM13.3096 0.249023L13.125 1.28809H10.377L10.5615 0.249023H13.3096ZM16.6865 0.249023L16.502 1.28809H13.7539L13.9385 0.249023H16.6865ZM20.0635 0.249023L19.8789 1.28809H17.1309L17.3154 0.249023H20.0635ZM23.4404 0.249023L23.2559 1.28809H20.5078L20.6924 0.249023H23.4404ZM26.8174 0.249023L26.6328 1.28809H23.8848L24.0693 0.249023H26.8174ZM30.1943 0.249023L30.0098 1.28809H27.2617L27.4463 0.249023H30.1943ZM33.5713 0.249023L33.3867 1.28809H30.6387L30.8232 0.249023H33.5713ZM36.9482 0.249023L36.7637 1.28809H34.0156L34.2002 0.249023H36.9482ZM40.3252 0.249023L40.1406 1.28809H37.3926L37.5771 0.249023H40.3252ZM43.7021 0.249023L43.5176 1.28809H40.7695L40.9541 0.249023H43.7021ZM47.0791 0.249023L46.8945 1.28809H44.1465L44.3311 0.249023H47.0791ZM50.4561 0.249023L50.2715 1.28809H47.5234L47.708 0.249023H50.4561ZM53.833 0.249023L53.6484 1.28809H50.9004L51.085 0.249023H53.833ZM57.21 0.249023L57.0254 1.28809H54.2773L54.4619 0.249023H57.21ZM60.5869 0.249023L60.4023 1.28809H57.6543L57.8389 0.249023H60.5869ZM63.9639 0.249023L63.7793 1.28809H61.0312L61.2158 0.249023H63.9639ZM67.3408 0.249023L67.1562 1.28809H64.4082L64.5928 0.249023H67.3408Z' fill='%239D9D9B'/%3E%3C/svg%3E%0A");
        width: 72px;
        height: 2px;
        background-size: cover;
        display: block;
    }
}

.header_right__col--info {
    font-size: 20px;
    font-weight: 800;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.header_right__col--title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.header_right__col--btn {
    font-weight: 400;
    font-size: 14px;
    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.header_right__col--text {
    color: var(--c-gray-2);
    font-size: 20px;
    text-transform: uppercase;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.header_right__sign {
    background: var(--c-yellow-3);
    padding: 0 19px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        height: 25px;
    }
}

.header_right__bottom {
    display: flex;
    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.header_right__menu--list {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.header_right__menu--element {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    &:hover {
        color: var(--c-yellow)
    }
    &:not(:last-child) {
        margin-right: 30px;
    }
    @media (max-width:1500px) {
        font-size: 1.1vw;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    @media (max-width:992px) {
        font-size: 15px;
        margin-right: 0;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.header_right__btn {
    margin-left: 30px;
    display: flex;
    svg {
        width: 24px;
        height: 24px;
        fill: transparent;
    }
    span {
        cursor: pointer;
        --size-count: 18px;
        &:not(:first-child) {
            margin-left: 20px;
        }
        &[data-count] {
            position: relative;
            &:after {
                content: attr(data-count);
                width: var(--size-count);
                height: var(--size-count);
                background: #FFD81B;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: -8px;
                top: -2px;
                border-radius: 50%;
                font-weight: 400;
                font-size: 12px;
                line-height: 143%;
                padding: 1px 0 0 1px;
                color: #000
            }
            &.header_right--cart {
                &:after {
                    right: -2px;
                    top: -4px;
                }
            }
        }
    }
    @media (max-width:992px) {
        margin: 20px 0;
        span {
            &:not(:first-child) {
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }
}

.header_right--cart {
    svg {
        height: 28px;
        width: 28px;
        transform: translateY(-4px);
    }
}

.search-input {
    position: absolute;
    right: 11%;
    bottom: 39px;
    input[type="search"] {
        height: 60px;
        border: 4px solid #FFD81B;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding: 0 30px;
        color: #909293;
        transition: width .3s;
        width: 0px;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #909293;
        }
    }
    &._active {
        input[type="search"] {
            width: 1118px;
            opacity: 1;
            visibility: visible;
            z-index: 5;
        }
    }
}

.header-menu-popup {
    position: absolute;
    top: 219px;
    width: 100%;
    --size-block-parent: 30.7%;
    transition: .3s;
    height: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    &._active {
        opacity: 1;
        z-index: 999;
        visibility: visible;
    }
    .container {
        display: flex;
    }
    @media (max-width:992px) {
        .container {
            flex-direction: column;
        }
    }
}

.header-menu__parent {
    background: #FFD54F;
    width: var(--size-block-parent);
    padding: 60px 0 33px 68px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.header-menu__children {
    position: absolute;
    left: calc(var(--size-block-parent) + 37px);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 101px;
    width: 40%;
    opacity: 0;
    transition: .3s;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: none;
    &:after {
        content: attr(data-title);
        color: #000;
        position: absolute;
        top: -50px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
    }
}

.header-menu__parent--element {
    border-radius: 8px 0px 0px 8px;
    padding-left: 25px;
    padding: 13px 0 14px 25px;
    cursor: pointer;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 500px;
        display: none;
        z-index: -1;
        top: 0;
    }
    &:hover {
        background: #fff;
        &:after {
            z-index: 9;
            display: block;
            left: calc(var(--size-block-parent) - 10%);
            width: calc(var(--size-block-parent) + 10%);
        }
        .header-menu__children {
            opacity: 1;
            display: grid;
            z-index: 999;
        }
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.back-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    &._active {
        z-index: 99;
        visibility: visible;
        opacity: 1;
    }
}

.header-menu__children--element {
    z-index: 99;
    position: relative;
}

.header-menu__bann {
    width: 255px;
    background: #000000;
    border-radius: 8px;
    padding: 46px 16px;
}

.header-menu__bann--title {
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Roboto';
    color: #fff;
    margin-bottom: 57px;
}

.header-menu__bann--text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    font-family: 'Roboto';
    span {
        color: var(--c-yellow)
    }
}

.header-menu__bann--link {
    border-radius: 6px;
    background: var(--c-yellow);
    width: 100%;
    height: 41px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.header-menu__find-content {
    width: 60%;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-menu__esc {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    &:after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.789 1.29918L15.4918 0L8.80146 6.70082L2.11112 0L0.813965 1.29918L7.50431 8L0.813965 14.7008L2.11112 16L8.80146 9.29918L15.4918 16L16.789 14.7008L10.0986 8L16.789 1.29918Z' fill='black'/%3E%3C/svg%3E%0A");
        width: 17px;
        height: 16px;
        display: block;
        margin-left: 6px;
    }
}

.header-menu__podbor {
    display: flex;
    align-items: center;
    --size-podbor-margin: 34px;
    --col-podbor: 2;
    margin: auto 36px 26px;
    &--element {
        width: calc((100% / var(--col-podbor)) - (var(--size-podbor-margin) / 2));
        height: 114px;
        display: flex;
        align-items: center;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        img {
            height: 100%;
            width: 130px;
            margin-right: 15px;
        }
        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            color: #222
        }
        &:not(:last-child) {
            margin-right: var(--size-podbor-margin);
        }
    }
}

.header-menu__bann--picture {
    position: relative;
    height: 54%;
    margin: 0 -17px;
}

.header-menu__bann--back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.header-menu__bann--pict {
    z-index: 2;
    position: relative;
}