.items-catalog {
    margin-bottom: 48px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.items-catalog__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .tabs {
        margin-left: 27px;
    }
    .tabs__toggler {
        border: 4px solid var(--c-yellow-2);
        border-radius: 5px;
        font-weight: 700;
        font-size: 24px;
        color: #000;
        padding: 0 26px;
        &.tab--active {
            background: var(--c-yellow-2);
        }
        &:not(:last-child) {
            margin-right: 31px;
        }
    }
    @media (max-width:767px) {
        margin-bottom: 30px;
        .tabs__toggler {
            font-size: 16px;
            padding: 0 12px;
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
        .tabs {
            margin-left: 15px;
        }
    }
}

.items-catalog__ajax {
    margin-left: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1200px) {
        justify-content: center;
        margin-top: 20px;
        width: 100%;
    }
}

.items-catalog__ajax--item {
    font-weight: 700;
    font-size: 24px;
    &._active {
        color: var(--c-yellow)
    }
    &:not(:last-child) {
        margin-right: 25px;
    }
    @media (max-width:767px) {
        font-size: 18px;
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.items-catalog__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 91px 43px;
    @media (max-width: 1300px) {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 61px 20px;
    }
    @media (max-width:500px) {
        grid-gap: 20px;
    }
}

.items-catalog__element {
    border: 1px solid #E6E9EC;
    border-radius: 10px;
    padding: 32px 16px 10px 16px;
    position: relative;
    transition: box-shadow .3s;
    height: max-content;
    background: #fff;
    &:hover {
        box-shadow: 0px 10px 25px rgb(0 0 0 / 25%);
        margin-bottom: -41px;
        z-index: 2;
        .items-catalog__element--favorites,
        .items-catalog__element--price--old {
            opacity: 1;
        }
        .items-catalog__element--bottom {
            display: flex;
        }
    }
    &[data-small] {
        .items-catalog__element--count {
            color: transparent;
            &:before {
                background: #FF4444;
            }
            &:after {
                content: 'Мало';
                color: #000;
                position: absolute;
                left: 37px;
            }
        }
    }
    &[data-state="cold"] {
        .items-catalog__element--state {
            &:after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='27' height='28' viewBox='0 0 27 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8312 20.3602L23.2722 18.8899L25.6813 17.4957C25.9576 17.3345 26.0509 16.98 25.8898 16.7037L25.3063 15.7034C25.1452 15.4272 24.7906 15.3339 24.5143 15.495L20.9537 17.5578L19.3678 16.1449L22.8812 14.596C23.0904 14.5033 23.2261 14.2957 23.2261 14.0661C23.2261 13.8365 23.0904 13.629 22.8812 13.5363L19.3203 11.9664L20.9539 11.0415L24.5314 13.1246C24.8076 13.2858 25.1622 13.1924 25.3233 12.9162L25.9067 11.9159C26.0679 11.6396 25.9746 11.2851 25.6983 11.1239L23.2705 9.71046L25.8312 8.2391C26.1088 8.07911 26.204 7.72498 26.0436 7.44799L25.4631 6.44499C25.3028 6.16801 24.9477 6.07311 24.67 6.23304L22.1068 7.70581L22.1039 4.89817C22.1025 4.57835 21.8421 4.32026 21.5222 4.32172L20.3642 4.32688C20.0444 4.32829 19.7863 4.58872 19.7877 4.90854L19.7937 9.03488L18.0143 10.0422L18.0108 6.60216C18.0357 6.37311 17.9215 6.15085 17.7213 6.03722C17.52 5.923 17.2711 5.93879 17.0879 6.0774L14.5397 7.84105V5.47212L18.1358 3.41357C18.4135 3.25488 18.51 2.90113 18.3513 2.62349L17.7769 1.61805C17.6182 1.34035 17.2644 1.24388 16.9868 1.40252L14.5398 2.80351V0.747076C14.5397 0.427202 14.2804 0.167969 13.9607 0.167969H13.3816H12.8025C12.4826 0.167969 12.2234 0.427256 12.2234 0.747076V2.81198L9.77635 1.40257C9.49866 1.24388 9.14496 1.34035 8.98628 1.61805L8.41178 2.62349C8.25309 2.90118 8.34957 3.25493 8.62726 3.41357L12.2234 5.48282V7.82927L9.70008 6.08967C9.59714 6.0116 9.47385 5.97202 9.35056 5.97202C9.34149 5.97088 9.33357 5.97148 9.32792 5.97202C9.00783 5.97202 8.74881 6.23104 8.74881 6.55113C8.74881 6.6292 8.74881 10.1374 8.74881 10.1374L6.97707 8.57217L6.99233 4.42118C6.99379 4.10136 6.73565 3.84093 6.41588 3.83952L5.25794 3.83437C4.93811 3.83295 4.67769 4.09105 4.67622 4.41081L4.66596 7.24419L2.09312 5.76594C1.81543 5.60605 1.46038 5.7009 1.30006 5.97788L0.719484 6.98088C0.559167 7.25787 0.654283 7.61206 0.931974 7.77199L3.49092 9.24232L1.08181 10.6365C0.805533 10.7977 0.712264 11.1523 0.873341 11.4286L1.45679 12.4288C1.61798 12.7051 1.97254 12.7983 2.24882 12.6372L5.80946 10.5745L7.39532 11.9874L3.88196 13.5363C3.67273 13.629 3.53701 13.8365 3.53701 14.0661C3.53701 14.2957 3.67273 14.5033 3.88196 14.596L7.44288 16.1659L5.80925 17.0908L2.23178 15.0077C1.9555 14.8465 1.60093 14.9398 1.43985 15.2161L0.856403 16.2164C0.695217 16.4926 0.788541 16.8472 1.06482 17.0084L3.49265 18.4218L0.931974 19.8932C0.654283 20.0532 0.559167 20.4073 0.719484 20.6843L1.30006 21.6873C1.46038 21.9643 1.81548 22.0592 2.09312 21.8992L4.65635 20.4265L4.65923 23.2341C4.66064 23.5539 4.92107 23.812 5.24089 23.8106L6.39894 23.8055C6.71876 23.8041 6.97685 23.5436 6.97539 23.2238L6.96936 19.0974L8.74881 18.0901L8.75223 21.5301C8.72737 21.7592 8.84159 21.9814 9.04176 22.0951C9.24307 22.2093 9.49193 22.1935 9.67516 22.0549L12.2234 20.2912V22.6601L8.62726 24.7187C8.34957 24.8774 8.25309 25.2311 8.41178 25.5087L8.98628 26.5142C9.14496 26.7919 9.49872 26.8884 9.77635 26.7297L12.2234 25.3287V27.3852C12.2234 27.705 12.4826 27.9643 12.8025 27.9643H13.3816H13.9607C14.2805 27.9643 14.5398 27.705 14.5398 27.3852V25.3203L16.9868 26.7297C17.2645 26.8884 17.6182 26.7919 17.7769 26.5142L18.3513 25.5087C18.51 25.2311 18.4136 24.8772 18.1359 24.7187L14.5397 22.6494V20.303L17.0631 22.0426C17.166 22.1206 17.2893 22.1602 17.4126 22.1602C17.4216 22.1614 17.4296 22.1608 17.4352 22.1602C17.7553 22.1602 18.0143 21.9012 18.0143 21.5811C18.0143 21.503 18.0143 17.9948 18.0143 17.9948L19.7861 19.5601L19.7708 23.7111C19.7693 24.0309 20.0275 24.2913 20.3473 24.2927L21.5052 24.2979C21.8251 24.2993 22.0855 24.0412 22.087 23.7214L22.0972 20.888L24.6701 22.3662C24.9478 22.5261 25.3028 22.4313 25.4631 22.1543L26.0437 21.1513C26.204 20.8744 26.1088 20.5202 25.8312 20.3602Z' fill='%23007DFE'/%3E%3C/svg%3E%0A");
                width: 27px;
                height: 28px;
                display: block;
            }
        }
    }
    &[data-state="hot"] {
        .items-catalog__element--state {
            &:after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6562 19.8938C16.4789 19.8938 19.5779 16.7949 19.5779 12.9721C19.5779 9.14928 16.4789 6.05029 12.6562 6.05029C8.83336 6.05029 5.73438 9.14928 5.73438 12.9721C5.73438 16.7949 8.83336 19.8938 12.6562 19.8938Z' fill='%23FFC107'/%3E%3Cpath d='M12.6558 4.71706C13.3071 4.71706 13.8351 4.36505 13.8351 3.93086V0.786202C13.8351 0.352011 13.3071 0 12.6558 0C12.0046 0 11.4766 0.352011 11.4766 0.786202V3.93094C11.4767 4.36505 12.0046 4.71706 12.6558 4.71706Z' fill='%23FFD54F'/%3E%3Cpath d='M12.6558 21.2829C13.3071 21.2829 13.8351 21.6349 13.8351 22.0691V25.2138C13.8351 25.648 13.3071 26 12.6558 26C12.0046 26 11.4766 25.648 11.4766 25.2138V22.0691C11.4767 21.6349 12.0046 21.2829 12.6558 21.2829Z' fill='%23FFD54F'/%3E%3Cpath d='M17.2145 5.85393C17.7785 6.17956 18.4118 6.13871 18.6289 5.76269L20.2012 3.03934C20.4183 2.66332 20.137 2.09447 19.573 1.76883C19.009 1.4432 18.3758 1.48405 18.1587 1.86007L16.5863 4.58349C16.3693 4.9595 16.6505 5.5283 17.2145 5.85393Z' fill='%23FFD54F'/%3E%3Cpath d='M8.09702 5.85393C7.53301 6.17956 6.89974 6.13871 6.68265 5.76269L5.11032 3.03934C4.89322 2.66332 5.17448 2.09447 5.73849 1.76883C6.3025 1.4432 6.93577 1.48405 7.15287 1.86007L8.72523 4.58349C8.9422 4.9595 8.66104 5.5283 8.09702 5.85393Z' fill='%23FFD54F'/%3E%3Cpath d='M17.2145 20.1461C17.7785 19.8204 18.4118 19.8613 18.6289 20.2373L20.2012 22.9607C20.4183 23.3367 20.137 23.9055 19.573 24.2312C19.009 24.5568 18.3758 24.516 18.1587 24.1399L16.5863 21.4165C16.3693 21.0405 16.6505 20.4717 17.2145 20.1461Z' fill='%23FFD54F'/%3E%3Cpath d='M8.09702 20.1461C7.53301 19.8204 6.89974 19.8613 6.68265 20.2373L5.11032 22.9607C4.89322 23.3367 5.17448 23.9055 5.73849 24.2312C6.3025 24.5568 6.93577 24.516 7.15287 24.1399L8.72523 21.4165C8.9422 21.0405 8.66104 20.4717 8.09702 20.1461Z' fill='%23FFD54F'/%3E%3Cpath d='M19.7741 9.05022C20.0997 9.61423 20.6686 9.89549 21.0446 9.67839L23.7679 8.10606C24.1439 7.88896 24.1848 7.2557 23.8592 6.69168C23.5335 6.12767 22.9647 5.84642 22.5887 6.06351L19.8652 7.63588C19.4893 7.85303 19.4484 8.4862 19.7741 9.05022Z' fill='%23FFD54F'/%3E%3Cpath d='M5.53746 9.05022C5.21182 9.61423 4.64297 9.89549 4.26695 9.67839L1.5436 8.10606C1.16758 7.88896 1.12673 7.2557 1.45236 6.69168C1.77799 6.12767 2.34684 5.84642 2.72286 6.06351L5.44628 7.63588C5.82218 7.85303 5.86309 8.4862 5.53746 9.05022Z' fill='%23FFD54F'/%3E%3Cpath d='M19.7741 16.9498C20.0997 16.3858 20.6686 16.1045 21.0446 16.3216L23.7679 17.8939C24.1439 18.111 24.1848 18.7443 23.8592 19.3083C23.5335 19.8723 22.9647 20.1536 22.5887 19.9365L19.8652 18.3641C19.4893 18.147 19.4484 17.5138 19.7741 16.9498Z' fill='%23FFD54F'/%3E%3Cpath d='M5.53746 16.9498C5.21182 16.3858 4.64297 16.1045 4.26695 16.3216L1.5436 17.8939C1.16758 18.111 1.12673 18.7443 1.45236 19.3083C1.77799 19.8723 2.34684 20.1536 2.72286 19.9365L5.44628 18.3641C5.82218 18.147 5.86309 17.5138 5.53746 16.9498Z' fill='%23FFD54F'/%3E%3Cpath d='M20.5945 13.3624C20.5945 14.0136 20.9465 14.5416 21.3807 14.5416L24.5253 14.5416C24.9595 14.5416 25.3115 14.0136 25.3115 13.3624C25.3115 12.7111 24.9595 12.1831 24.5253 12.1831L21.3806 12.1831C20.9465 12.1832 20.5945 12.7111 20.5945 13.3624Z' fill='%23FFD54F'/%3E%3Cpath d='M4.71706 13.3624C4.71706 14.0136 4.36505 14.5416 3.93086 14.5416L0.786202 14.5416C0.352011 14.5416 8.00151e-08 14.0136 5.15473e-08 13.3624C2.30796e-08 12.7111 0.352011 12.1831 0.786202 12.1831L3.93094 12.1831C4.36505 12.1832 4.71706 12.7111 4.71706 13.3624Z' fill='%23FFD54F'/%3E%3C/svg%3E%0A");
                width: 26px;
                height: 26px;
                display: block;
            }
        }
    }
}

.items-catalog__element--remains {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #333333;
    border-radius: 5px;
    transform: rotate(-90deg);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    padding: 8px 10px;
    right: -62px;
    bottom: 41px;
    z-index: -1;
    @media (max-width: 700px) {
        transform: none;
        bottom: -11px;
        right: 12px;
        z-index: 2;
    }
}

.items-catalog__element--favorites {
    margin-top: 12px;
    display: block;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
    svg {
        width: 22px;
        height: 18px;
    }
}

.items-catalog__element--icon-left {
    position: absolute;
    left: 9px;
    top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-catalog__element--icon-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 13px;
    right: 15px
}

.items-catalog__element--discount {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    border-radius: 5px;
    background: var(--c-yellow);
    padding: 2px 7px;
    margin-bottom: 8px;
}

.items-catalog__element-n {
    background: #007DFE;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    padding: 2px 6px;
    margin-bottom: 8px;
}

.items-catalog__element-icon {
    width: 20px;
    height: 20px;
}

.items-catalog__element--picture {
    width: 130px;
    height: 175px;
    object-fit: cover;
    margin: 0 auto 5px auto;
    display: flex;
}

.items-catalog__element--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 5px;
}

.items-catalog__element--star {
    display: flex;
    align-items: center;
}

.items-catalog__element--star--value {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #333333
}

.items-catalog__element--star--icon {
    display: flex;
    svg {
        width: 19px;
        height: 19px;
        &[data-filled="all"] {
            color: var(--c-yellow)
        }
        &[data-filled="none"] {
            color: #E7E7E7
        }
    }
}

.items-catalog__element--count {
    display: flex;
    align-items: center;
    margin-top: 10px;
    &:before {
        content: '';
        @include getmask("../img/items/galka.svg");
        width: 13px;
        height: 10px;
        background: #21A038;
        display: block;
        margin-right: 8px;
    }
}

.items-catalog__element--price {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    color: #333333;
    margin-top: 10px;
    &>p {
        display: flex;
        align-items: center;
    }
}

.items-catalog__element--price--old {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8E9499;
    margin-left: 18px;
    position: relative;
    transition: .3s;
    &:after {
        content: '';
        position: absolute;
        left: -5px;
        top: 6px;
        background-image: url("data:image/svg+xml,%3Csvg width='57' height='5' viewBox='0 0 57 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.4397 0.963622C51.1936 0.850069 49.9475 0.766575 48.6993 0.669722C48.2882 0.636324 47.8771 0.636324 47.466 0.619625L44.7886 0.512753C44.2901 0.492714 43.7938 0.465996 43.2975 0.452637C43.1548 0.452637 43.01 0.452637 42.8715 0.452637H41.9002H37.4825C37.1332 0.452637 36.7817 0.452637 36.4324 0.472675L33.8209 0.536131C32.8411 0.55617 31.8613 0.566189 30.8836 0.602926L26.1293 0.779934C25.2134 0.816672 24.2953 0.83671 23.3794 0.893486L18.6401 1.18739C17.7753 1.24082 16.9126 1.28424 16.0499 1.36105L11.1487 1.78187C10.2754 1.85868 9.40204 1.91546 8.53085 2.03235L3.65303 2.7003L2.59866 2.84057C1.89574 2.93409 1.19496 3.08104 0.496302 3.20461L0.364239 3.23467C0.283543 3.27028 0.21014 3.33819 0.151234 3.43171C0.0569791 3.57614 0.00266984 3.77284 0 3.97943C0.000518241 4.18475 0.0525485 4.3815 0.144843 4.52716C0.190056 4.60141 0.244691 4.65998 0.305226 4.69909C0.365761 4.73821 0.430851 4.757 0.496302 4.75426C1.34832 4.60731 2.1833 4.447 3.03106 4.33679L5.3869 4.02285L7.95574 3.68887C8.3008 3.64212 8.64587 3.582 8.99307 3.55194L12.9933 3.19793L15.4919 2.98084C15.8348 2.95412 16.1799 2.91405 16.5228 2.89401L20.4932 2.65355L22.9002 2.50994C23.1707 2.50994 23.4391 2.4732 23.7096 2.46318L27.9974 2.30955L30.3915 2.22605C30.677 2.22605 30.9603 2.19934 31.2436 2.196L35.6719 2.11584C36.5921 2.11584 37.5102 2.08912 38.4304 2.09246H43.1165C43.4253 2.09246 43.7342 2.1125 44.043 2.1292L46.6481 2.26947L48.5928 2.35965C49.0508 2.38302 49.5109 2.43646 49.971 2.4732C51.3235 2.59009 52.674 2.70698 54.0181 2.84057C54.361 2.87397 54.7039 2.91405 55.049 2.95412C55.3941 2.9942 55.7839 3.03428 56.1502 3.10107C56.207 3.11443 56.2646 3.13113 56.3228 3.15117C56.4623 3.20596 56.6099 3.17614 56.736 3.06768C56.8266 2.9834 56.8995 2.8593 56.9456 2.71075C56.9918 2.5622 57.0091 2.3957 56.9955 2.23186C56.9819 2.06803 56.938 1.91404 56.8691 1.78894C56.8003 1.66385 56.7096 1.57314 56.6082 1.52804C56.3597 1.43407 56.1069 1.37153 55.852 1.34102L55.3302 1.25752C54.9958 1.20409 54.6592 1.17737 54.3227 1.13729C53.6986 1.06381 53.0681 1.0204 52.4397 0.963622Z' fill='%23E1452A'/%3E%3C/svg%3E%0A");
        width: 57px;
        height: 5px;
        display: block;
    }
    .sect-count-rubl {
        margin-left: 4px;
        &:before {
            width: 10px;
            height: 11px;
            margin-top: 2px;
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.650971 8.953H2.30207V10.3684C2.30207 10.4373 2.3241 10.4936 2.36843 10.5377C2.41264 10.582 2.46916 10.6042 2.538 10.6042H3.76887C3.83275 10.6042 3.88802 10.582 3.93471 10.5377C3.9814 10.4936 4.00468 10.4372 4.00468 10.3684V8.953H7.72694C7.79564 8.953 7.85218 8.93111 7.89649 8.88676C7.94084 8.84245 7.96285 8.78603 7.96285 8.71717V7.77366C7.96285 7.7052 7.94084 7.64842 7.89649 7.60436C7.8523 7.56001 7.79564 7.53783 7.72694 7.53783H4.00456V6.66804H6.51064C7.49337 6.66804 8.29544 6.36859 8.91722 5.76884C9.53876 5.16972 9.84968 4.39581 9.84968 3.44706C9.84968 2.49893 9.53876 1.725 8.91722 1.12527C8.29556 0.526131 7.49335 0.226074 6.51064 0.226074H2.53788C2.46901 0.226074 2.41262 0.248229 2.36831 0.292315C2.3241 0.336645 2.30195 0.393406 2.30195 0.461884V5.09825H0.650971C0.582126 5.09825 0.525712 5.12155 0.481402 5.16822C0.437214 5.21491 0.415039 5.27018 0.415039 5.33404V6.43218C0.415039 6.50105 0.437072 6.55746 0.481402 6.60177C0.525732 6.64612 0.582004 6.66802 0.650971 6.66802H2.30207V7.53781H0.650971C0.582126 7.53781 0.525712 7.55999 0.481402 7.60434C0.437214 7.6484 0.415039 7.70506 0.415039 7.77364V8.71715C0.415039 8.78601 0.437072 8.84243 0.481402 8.88674C0.525712 8.93111 0.582106 8.953 0.650971 8.953ZM4.00456 1.79622H6.36323C6.88404 1.79622 7.30411 1.9485 7.62361 2.25315C7.94296 2.55783 8.1027 2.95599 8.1027 3.44718C8.1027 3.93861 7.94296 4.33689 7.62361 4.6412C7.30411 4.94612 6.88402 5.0984 6.36323 5.0984H4.00456V1.79622Z' fill='%238E9499'/%3E%3C/svg%3E%0A");
        }
    }
}

.sect-count-rubl {
    margin-left: 7px;
    display: flex;
    align-items: center;
    &:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.716986 14.5298H3.49298V16.7842C3.49298 16.8939 3.53003 16.9837 3.60456 17.0539C3.67889 17.1245 3.77391 17.1599 3.88966 17.1599H5.95912C6.06652 17.1599 6.15946 17.1245 6.23796 17.0539C6.31646 16.9837 6.35559 16.8939 6.35559 16.7842V14.5298H12.6138C12.7294 14.5298 12.8244 14.4949 12.8989 14.4243C12.9735 14.3537 13.0105 14.2638 13.0105 14.1541V12.6513C13.0105 12.5423 12.9735 12.4518 12.8989 12.3816C12.8246 12.311 12.7294 12.2757 12.6138 12.2757H6.35538V10.8902H10.5689C12.2211 10.8902 13.5697 10.4133 14.6151 9.458C15.6601 8.50371 16.1828 7.27101 16.1828 5.75982C16.1828 4.24964 15.6601 3.0169 14.6151 2.06165C13.5699 1.10733 12.2211 0.629395 10.5689 0.629395H3.88945C3.77367 0.629395 3.67885 0.664683 3.60435 0.734904C3.53003 0.805514 3.49278 0.895922 3.49278 1.005V8.38988H0.716986C0.601237 8.38988 0.506387 8.42698 0.431889 8.50131C0.357596 8.57568 0.320312 8.66373 0.320312 8.76544V10.5146C0.320312 10.6243 0.357356 10.7141 0.431889 10.7847C0.506421 10.8553 0.601032 10.8902 0.716986 10.8902H3.49298V12.2756H0.716986C0.601237 12.2756 0.506387 12.311 0.431889 12.3816C0.357596 12.4518 0.320312 12.542 0.320312 12.6513V14.1541C0.320312 14.2638 0.357356 14.3537 0.431889 14.4242C0.506387 14.4949 0.601203 14.5298 0.716986 14.5298ZM6.35538 3.13035H10.321C11.1967 3.13035 11.9029 3.3729 12.4401 3.85816C12.977 4.34345 13.2456 4.97764 13.2456 5.76002C13.2456 6.54278 12.977 7.17717 12.4401 7.66187C11.9029 8.14755 11.1966 8.3901 10.321 8.3901H6.35538V3.13035Z' fill='%23333333'/%3E%3C/svg%3E%0A");
        width: 16px;
        height: 17px;
        display: block;
    }
}

.items-catalog__element--bottom,
.items-catalog__element--bottom-count {
    display: flex;
    align-items: center;
}

.items-catalog__element--bottom {
    margin-top: 10px;
    display: none;
}

.items-catalog__element--bottom-count {
    margin-right: 12px;
    span {
        cursor: pointer;
    }
}

.items-catalog__element--input {
    border-radius: 8px;
    background: #E6E9EC;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    width: 31px;
    height: 31px;
    text-align: center;
    margin: 0 9px;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.items-catalog__element--cart-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    padding: 6px;
    background: var(--c-yellow);
    border-radius: 10px;
    width: 100%;
}

.page-item {
    margin-top: 45px;
}