[data-poppa-name="cart-added"] {
    --left-right-padding: 90px;
    .modal__title {
        font-weight: 700;
        font-size: 25px;
        line-height: 36px;
        color: #333333;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.8' fill-rule='evenodd' clip-rule='evenodd' d='M13.6663 10.2083V8.74996C13.6663 6.63287 15.3825 4.91663 17.4996 4.91663C19.6167 4.91663 21.333 6.63287 21.333 8.74996V10.2083H13.6663ZM11.6663 10.2083V8.74996C11.6663 5.5283 14.278 2.91663 17.4996 2.91663C20.7213 2.91663 23.333 5.5283 23.333 8.74996V10.2083H27.1517C27.6698 10.2083 28.1022 10.604 28.1478 11.1202L29.8427 30.2772C29.9979 32.0316 28.6156 33.5416 26.8544 33.5416H8.14379C6.38258 33.5416 5.00025 32.0316 5.15546 30.2772L6.85033 11.1202C6.89599 10.604 7.32831 10.2083 7.84644 10.2083H11.6663ZM11.6663 12.2083H8.76188L7.14768 30.4535C7.09594 31.0383 7.55672 31.5416 8.14379 31.5416H26.8544C27.4414 31.5416 27.9022 31.0383 27.8505 30.4535L26.2363 12.2083H23.333V13.125H21.333H13.6663H11.6663V12.2083Z' fill='%23FADE56'/%3E%3C/svg%3E%0A");
            width: 35px;
            height: 35px;
            display: block;
            margin-right: 9px;
        }
    }
    .poppa {
        position: absolute;
        top: 0;
        .modal__inner {
            padding: 38px var(--left-right-padding) 100px
        }
    }
    .recommended-slider .swiper {
        width: 100%;
    }
    .recommended-item .items-catalog__container {
        margin-top: 46px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 26px;
    }
    .items-catalog__element--picture {
        width: 270px;
        height: 270px;
        object-fit: contain;
    }
    .poppa__closer {
        display: none;
    }
}

.line-added-item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.line-added-item__picture {
    width: 155px;
    height: 208px;
    margin-right: 50px;
}

.line-added-item__name {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    width: 35%;
    color: #333333;
}

.line-added-item__price {
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    color: #333333;
}

.line-added-item__counter {
    width: 156px;
    background: #F8F8F8;
    border: 1px solid #E6E9EC;
    border-radius: 10px;
    height: 68px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: auto;
    margin-right: 13%;
    span {
        cursor: pointer;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input {
        width: 100%;
        background: transparent;
        border-left: 1px solid #E6E9EC;
        border-right: 1px solid #E6E9EC;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
    }
}

.line-added-info {
    background: #F8F8F8;
    padding: 34px var(--left-right-padding);
    margin: 0 calc(var(--left-right-padding) * -1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line-added-info__left {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: #333333;
    span:first-child {
        color: #FFD81B;
        font-weight: 800;
    }
}

.line-added-info__right {
    display: flex;
    align-items: center;
    button,
    a {
        width: 240px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        border-radius: 10px;
    }
}

.line-added-info__next {
    border: 4px solid #FFD81B;
    margin-right: 35px;
}

.line-added-info__cart {
    background: var(--c-yellow-3);
}