.selection-item {
  margin-bottom: 37px;
}

.selection-item .tabs__toggler {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: var(--c-yellow);
  padding-bottom: 4px;
  position: relative;
}

.selection-item .tabs__toggler:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--c-yellow);
  transition: .3s ease;
}

.selection-item .tabs__toggler.tab--active {
  color: #000;
}

.selection-item .tabs__toggler.tab--active:after {
  width: 100%;
}

.selection-item .tabs__toggler:not(:last-child) {
  margin-right: 12px;
}

@media (max-width: 767px) {
  .selection-item .tabs__toggler {
    font-size: 16px;
  }
  .selection-item .tabs__toggler:after {
    bottom: 1px;
  }
}

.selection-item__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 55px;
}

@media (max-width: 1200px) {
  .selection-item__box {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  .selection-item__box {
    grid-gap: 20px;
  }
}

.selection-item__col {
  position: relative;
  background: #F5F5F5;
  border-radius: 11px;
  padding: 50px 56px 53px 37px;
}

.selection-item__col:first-child .selection-item__input {
  position: relative;
}

.selection-item__col:first-child .selection-item__input:first-child:after {
  content: '/';
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  color: #E6E9EC;
  position: absolute;
  right: -31px;
  top: 21px;
}

.selection-item__col:first-child .selection-item__input:nth-of-type(2):after {
  content: 'R';
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  color: #E6E9EC;
  position: absolute;
  right: -35px;
  top: 21px;
}

.selection-item__col:first-child .selection-item__picture {
  right: 20px;
}

.selection-item__col:last-child .selection-item__input {
  position: relative;
}

.selection-item__col:last-child .selection-item__input:nth-of-type(odd):after {
  content: 'x';
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #E6E9EC;
  position: absolute;
  right: -22px;
  top: 28px;
}

@media (max-width: 650px) {
  .selection-item__col {
    padding: 20px 16px;
  }
}

.selection-item__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .selection-item__top {
    flex-direction: column;
    align-items: flex-start;
  }
  .selection-item__top .selection-item__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .selection-item__top .selection-item__title span {
    font-size: 18px;
    margin-left: 0;
  }
}

.selection-item__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
}

.selection-item__title span {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  margin-left: 8px;
  color: #9D9D9B;
}

.selection-item__select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  width: 75%;
}

.selection-item__select.selection-item__select-col-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px 33px;
  width: 65%;
}

@media (max-width: 650px) {
  .selection-item__select {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 0;
  }
  .selection-item__select .selection-item__input:after {
    display: none;
  }
  .selection-item__select .selection-item__input:first-child {
    margin-right: 25px;
  }
  .selection-item__select .selection-item__input:not(:last-child) {
    width: 45%;
  }
  .selection-item__select .selection-item__input:last-child {
    width: 100%;
  }
  .selection-item__select.selection-item__select-col-2 {
    width: 100%;
  }
  .selection-item__select.selection-item__select-col-2 .selection-item__input {
    width: 100%;
    margin-right: 0;
  }
}

.selection-item__input--title {
  width: max-content;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 4px;
}

.selection-item__checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  width: 80%;
  margin-top: 15px;
}

@media (max-width: 500px) {
  .selection-item__checkbox {
    display: flex;
    flex-direction: column;
  }
}

.selection-item__btn {
  margin: 30px 0 10px 0;
}

.selection-item__btn button {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  padding: 11px 19px;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .selection-item__btn {
    display: flex;
    flex-direction: column;
  }
  .selection-item__btn button {
    font-size: 15px;
    padding: 8px 0;
  }
  .selection-item__btn .selection-item__find {
    margin-bottom: 13px;
    margin-right: 0;
  }
}

.selection-item__find {
  background: var(--c-yellow);
  margin-right: 10px;
}

.selection-item__reset {
  border: 1px solid var(--c-yellow);
  background: #fff;
}

.selection-item__picture {
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  height: 274px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .selection-item__picture {
    height: 180px;
  }
}

@media (max-width: 600px) {
  .selection-item__picture {
    display: none;
  }
}

.selection-item__info {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.selection-item__info:before {
  content: '?';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--c-yellow);
  font-weight: 400;
  font-size: 7px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  margin-bottom: 3px;
}
