.section-title {
  font-family: var(--ff-main);
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

@media (max-width: 1300px) {
  .section-title {
    font-size: 32px;
  }
}

@media (max-width: 992px) {
  .section-title {
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .section-title {
    font-size: 20px;
    line-height: 30px;
  }
}

.link-block {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto';
  padding: 6px 15px;
  background: var(--c-yellow);
  border-radius: 11px;
  width: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .link-block {
    font-size: 14px;
    margin-left: auto;
    width: auto;
    min-width: 100px;
  }
}

.content-page {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 21px;
}
