.catalog-filter__index-speed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #E6E9EC;
  border-radius: 7px;
  border-right: none;
  border-bottom: none;
}

.catalog-filter__index-speed > div {
  border-right: 1px solid #E6E9EC;
  border-bottom: 1px solid #E6E9EC;
  display: flex;
  align-items: flex-end;
  padding: 6px 10px 4px;
  background: #fff;
}

.catalog-filter__index-speed > div p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-right: 3px;
}

.catalog-filter__index-speed > div span {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #E6E9EC;
}

.catalog-filter__index-speed > div:nth-of-type(4) {
  border-radius: 0 7px 0 0;
}

.catalog-filter__index-speed > div:nth-last-child(3) {
  border-radius: 0 0 0 7px;
}

.catalog-filter__index-speed > div:last-child, .catalog-filter__index-speed > div:nth-last-child(4) {
  border-radius: 0 0 7px 0;
}

.catalog-filter__index-speed > div[data-empty] {
  background: #F8F8F8;
}

.catalog-filter__index-speed > div._active {
  background: var(--c-yellow);
}

.catalog-filter__index-speed > div._active p {
  color: #fff;
}

.checbox-custom.checbox-custom--disabled {
  pointer-events: none;
}

.checbox-custom.checbox-custom--disabled label {
  color: #E6E9EC;
}

.checbox-custom.checbox-custom--disabled .selection-item__checkbox--field {
  background: #E6E9EC;
  border-color: transparent;
}

.catalog-filter {
  width: 296px;
  background: #F9F9F9;
  border-radius: 10px;
  padding: 18px 39px 18px 18px;
  margin-right: 11px;
}

.catalog-filter--title {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  margin-bottom: 10px;
}

.catalog-filter__select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.catalog-filter__select:not(:last-child) {
  margin-bottom: 9px;
}

.catalog-filter__pick {
  width: 100%;
  height: 40px;
  border: 4px solid var(--c-yellow-2);
  border-radius: 5px;
  font-weight: 800;
  font-size: 17px;
  line-height: 23px;
  margin-top: 32px;
}

.catalog-filter__block {
  margin-top: 20px;
}

.catalog-filter__block .catalog-filter__count {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #E6E9EC;
  border: none;
  margin-left: 5px;
  display: flex;
  align-items: center;
  background: transparent;
}

.catalog-filter__block .selection-item__checkbox--item:not(:last-child) {
  margin-bottom: 9px;
}

.catalog-filter__block--search--body {
  margin-top: 12px;
}

.catalog-filter__search-all {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: var(--c-yellow);
  border-bottom: 1px dotted var(--c-yellow);
  margin-top: 15px;
}

.catalog-filter__block--search--input {
  position: relative;
}

.catalog-filter__block--search--input:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.687 15.9171C15.3399 17.2073 13.5125 18 11.5 18C7.35786 18 4 14.6421 4 10.5C4 6.35786 7.35786 3 11.5 3C15.6421 3 19 6.35786 19 10.5C19 12.5124 18.2074 14.3397 16.9174 15.6867C16.8738 15.718 16.8321 15.7533 16.7929 15.7925C16.7537 15.8318 16.7184 15.8735 16.687 15.9171ZM17.4735 17.8874C15.8416 19.2086 13.7632 20 11.5 20C6.25329 20 2 15.7467 2 10.5C2 5.25329 6.25329 1 11.5 1C16.7467 1 21 5.25329 21 10.5C21 12.7631 20.2087 14.8413 18.8877 16.4731L22.7071 20.2929C23.0976 20.6835 23.0976 21.3166 22.7071 21.7071C22.3165 22.0976 21.6834 22.0976 21.2929 21.7071L17.4735 17.8874Z' fill='%23E6E9EC'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
}

.catalog-filter__block--search--input input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E6E9EC;
  border-radius: 7px;
  height: 31px;
  padding: 0 11px;
}

.catalog-filter__block-price .catalog-filter--title {
  margin-bottom: 50px;
}

.filter-push {
  margin-top: 24px;
  background: var(--c-yellow);
  border: 1px solid var(--c-yellow);
  border-radius: 7px;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  height: 42px;
}

.filter-reset {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #E6E9EC;
  border-bottom: 1px dotted;
  text-align: center;
  margin: 12px auto 0;
  display: flex;
}

.catalog-page .container {
  display: flex;
}

.catalog-page__content {
  width: calc(100% - 296px);
}

.catalog-page__content .section-title {
  margin-bottom: 30px;
}

.catalog-page__content .page-item {
  margin-top: 40px;
  margin-bottom: 100px;
}

.catalog-page .items-catalog__container {
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
  .catalog-page .items-catalog__container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.catalog-banner img {
  height: 390px;
  border-radius: 20px;
  object-fit: cover;
}

.page-item__pagination--list {
  display: flex;
  align-items: center;
}

.page-item__pagination--list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.page-item__pagination--list ul li {
  padding: 12px;
  width: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.page-item__pagination--list ul li._active {
  background: var(--c-yellow);
  border-radius: 2px;
  color: #fff;
}

.page-item__pagination--list-next {
  background: #FFFFFF;
  border: 1px solid var(--c-yellow);
  border-radius: 2px;
  width: 101px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.page-item__pagination--show {
  border: 4px solid #FFD81B;
  border-radius: 5px;
  width: 229px;
  height: 43px;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item__pagination {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
