// ================ Responsive Start ================
$min-width: 320px;
$max-width: 1920px;
$max-width-container: 1510px;
$container-padding: 48;
$container-width: $max-width-container+$container-padding;
$laptop-l: 1500px;
$laptop: 1100px;
$tablet: 800px;
$mobile-l: 450px;
$mobile-m: 390px;
$mobile-s: 330px;
$hide-menu: $tablet;
$minHover: $laptop;
// ================ Responsive End ================
// ================ Colors Start ================
// Текст
$text-primary: var(--c-text-regular);
$text-second: var(--c-text-secondary);
$text-label: var(--c-text-label);
$accent: #5f6c75;
$light: #fff;
// Задний фон разделов
// $frame-dark: #080A0A;
// $frame-light: #0E1010;
// Обводка
$border-line: var(--c-border);
// Радиусы
$radius-s: var(--radius-s);
$radius-l: var(--radius-l);
// Текстовые поля
$input-placeholder: var(--c-input-placeholder);
// Уведомления
$error: var(--c-error);
// ================ Colors End ================
:root {
    --bg-gray: #EFF0F0;
    --c-yellow: #FADE56;
    --c-yellow-2: #FFD81B;
    --c-yellow-3: #FEDA29;
    --c-gray: #737373;
    --c-gray-2: #9D9D9B;
    --c-black: #262626;
    --family-all: 'Manrope'
}

// ================ Other Start ================
$ff-main: var(--family-all);
$tr: var(--tr);
// ================ Other End ================
$burgerwidth: 920px;
$mobile-break: 768px;
$mobile-size: 700px;